body {
	font-family: Arial, Helvetica, sans-serif;
	height: auto;
}

#main {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background-color: #efefef;
}

#main > div {
  margin: 10px;
  font-size: 1.5em;
}

#random-search {
	margin: auto;
	text-align: left;
	padding: .75em;
}

#custom-search {
	margin: auto;
	padding: .75em;
}

input {
  padding: 8px 16px;
  font-size: .75em;
}

button {
	background-color: #008CBA;
	padding: 8px 16px;
	border-radius: 4px;
	color: #fff;	
	font-size: .75em;
}

button > a {
	color: #fff;
	text-decoration: none;
}

#results {
	width: 80%;
}