body {
	font-family: Arial, Helvetica, sans-serif;
}

#main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #efefef;
}

#random-search {
	margin: auto;
	width: 80%;
	text-align: center;
}

#custom-search {
	margin: auto;
	width: 80%;
}

#search-form {
  
}

form {
	display: inline;
}